body {
  background: grey;
  color: black;
}

.text-center {
  text-align: center;
}

.green-background {
  background: green;
}

.navbar .nav {
  margin-bottom: 0px;
}

#navbar-margin {
  margin-bottom: 0px !important;
}

.navbar-dark {
  background: rgb(71 71 71);
}
